*{
    margin:0;
    overflow: hidden;
  }

body {
  display: flex;
  align-items: center;
  justify-content: center;
	border-radius: 1rem;
  background-image: url(/CSCI4830-Spring22-Project/image/amongusbg.gif);
  background-repeat: no-repeat;
  background-size: cover;
}
